{% extends 'layout/template.jinja2' %}
{% block header %}
    {{ super() }}
    <style>
            #map{
            height: 500px;
            overflow: hidden;
            }
            .sidebar-logo a{
                margin: 0;
            }
            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }
            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }
            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                -webkit-animation: sk-scaleout 1s infinite ease-in-out;
                animation: sk-scaleout 1s infinite ease-in-out;
            }
            @-webkit-keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                }
                100% {
                    -webkit-transform: scale(1);
                    opacity: 0;
                }
            }
            @keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                100% {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    opacity: 0;
                }
            }
        </style>
{% endblock %}

{% block main %}
    <div id="mainContent">
        <div class="row gap-20 masonry pos-r">
            <div class="masonry-sizer col-md-12"></div>
            {% for queue in queues %}
                <div class="masonry-item col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="card" id="showForm" data-queue="{{ queue.id_queue }}" data-index="{{ queue.index }}" data-company="">
                        <h3 class="title">Queue N° {{ queue.index }}</h3>
                        <div class="card-body">
                            <div class="text">{{ 'Boarding' if queue.status == 1 else 'Landing' }}</div>
                            <div class="num">{{ queue.order }}</div>
                        </div>
                        <p class="desc text-center">{{ queue.company.name }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block modal %}
    <div class="modal fade" id="FormTest" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Queue N°<span id="queue"></span></h5>
                        <button type="button" id="closeC" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="" method="POST" id="submitFormCap">
                        <div class="modal-body">
                            {{ form.iid()}}
                            {{ form.csrf_token }}
                            <div class="form-group">
                                <label for="direction">Direction :</label>
                                <select class="form-control" name="direction" id="direction">
                                    <option value="1">Landing</option>
                                    <option value="2">Boarding</option>
                                </select>
                            </div>

                            <div class="form-group">
                                {{ form.order.label(class="text-normal text-dark") }}
                                {{ form.order(class="form-control", min="1", max="99" ) }}
                            </div>

                            <div class="form-group">
                                {{ form.company.label(class="text-normal text-dark") }}
                                {{ form.company(class="form-control") }}
                                <br>
                                {{ form.name(class="form-control",style="display: none", id="iname", placeholder="Something else") }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-success" id="saveCap">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script type="text/javascript">
        showForm.addEventListener('click',function(e){
            iid.value = $(this).data('queue');
            queue.innerText = $(this).data('index');

            $('#FormTest').modal()
        })

        company.addEventListener('change', function(e){
            console.log(this.value)
            if(this.value == -1){
                iname.style.display = 'block';
                iname.required= 'true';
            }else{
                iname.style.display = 'none';
                iname.removeAttribute('required');
            }
        });

        submitFormCap.addEventListener('submit', (e)=>{
            e.preventDefault();
            let formData = new FormData(e.target)
            axios.post('#', formData).then(res => {
                console.log(res.data)
                if(res.status === 201)
                    // all is good bb
                    $('#FormTest').modal('hide')
            }).catch(err => {
                // check each item and change it from form
                console.log(err.response.data);
            })
        });
    </script>
{% endblock %}